


NODE_ENV=development
PORT=40511


DATABASE_URL=postgresql://ni:ni@localhost:40512/centrale_ni?schema=public


CORS_ORIGINES=http://localhost:40510


SWAGGER_ACTIF=true


JWT_SECRET=a-remplacer-par-un-secret-de-48-octets-au-moins-svp
JWT_DUREE=7d


SUPER_ADMIN_MATRICULE=2291
SUPER_ADMIN_PRENOM=Prenom
SUPER_ADMIN_NOM=Nom
SUPER_ADMIN_MOT_DE_PASSE=a-remplacer-par-un-mot-de-passe-initial-long
SUPER_ADMIN_GRADE=etat_major


VIEILLISSEMENT_JOURS=30


FICHIERS_RACINE=./donnees/fichiers
FICHIER_TAILLE_MAX_MO=8
