


DOMAINE=centrale-ni.exemple.fr


API_IMAGE=ghcr.io/votre-compte/centrale_nai_sahp_back:latest
FRONT_IMAGE=ghcr.io/votre-compte/centrale_nai_sahp_front:latest
FRONT_PORT=40510
API_PORT=40511
POSTGRES_PORT=40512


POSTGRES_USER=centrale
POSTGRES_PASSWORD=a-remplacer-par-un-mot-de-passe-long-et-aleatoire
POSTGRES_DB=centrale_ni


PGADMIN_EMAIL=admin@centrale-ni.exemple.fr
PGADMIN_PASSWORD=a-remplacer-par-un-mot-de-passe-long-et-aleatoire
PGADMIN_PORT=40513


JWT_SECRET=a-remplacer-par-un-secret-de-48-octets-au-moins
JWT_DUREE=7d


SUPER_ADMIN_MATRICULE=2291
SUPER_ADMIN_PRENOM=Prenom
SUPER_ADMIN_NOM=Nom
SUPER_ADMIN_MOT_DE_PASSE=a-remplacer-par-un-mot-de-passe-initial-long
SUPER_ADMIN_GRADE=etat_major


VIEILLISSEMENT_JOURS=30


FICHIER_TAILLE_MAX_MO=8


HEURE_SAUVEGARDE=03
RETENTION_JOURS=14
